@model IEnumerable<aula_5.Models.Aluno>
    @{  ViewData["Title"] = "Index"; }

<!DOCTYPE html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>

 
        <br />
        

        <div class="bt-primary text-center">
            <a asp-action="Create" class="btn col-3 btn-primary">Novo Aluno</a>
        </div>
        <br />
        <div class="bt-primary text-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-success col-3">Voltar para a Home</a>
        </div>
        
        <div>
            <h3>Listagem de Alunos</h3>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>IdAluno</th><th>Nome</th><th>Email</th><th>CPF</th><th>Estado Civil</th><th>Sexo</th><th>Ações</th>
                    </tr>
                </thead>
                
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.alunoId</td>
                            <td>@item.nome</td>
                            <td>@item.email</td>
                            <td>@item.cpf</td>
                            <td>@item.EstadoCivil.Nome</td>
                            <td>@item.Sexo.Nome</td>
                            <td>
                                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.alunoId" title="Editar">E</a>
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.alunoId" title="Remover"
                                onclick="return confirm('Você tem certeza que quer excluir o Aluno selecionado?')">X</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>



        <script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<br />
<br />